<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
    	</div>
	</div>
    <%- body %>
  </body>
</html>